include LICENSE
include README.md
include setup.py
recursive-include pageblocks/static *
recursive-include pageblocks/templates *
recursive-include pageblocks/templatetags *
recursive-include pageblocks/migrations *